{namespace themes=KayStrobach\Themes\ViewHelpers}
<div class="theme {additionalClass}">
	<div class="theme-image">
		<f:if condition="{theme.previewImage} != '../typo3conf/ext/themes/Resources/Public/Images/screenshot.gif'">
			<f:image src="{theme.previewImage}"  alt="{screenshot.caption}" width="298" style="width:298px" />
		</f:if>
		<div class="theme-hover">
			<div class="theme-hover-inner">
				<dl class="description-horizontal">
					<dt>Title:</dt>
					<dd>{theme.title}</dd>
					<dt>Key:</dt>
					<dd>{theme.extensionname}</dd>
					<dt>Version:</dt>
					<dd>{theme.version}</dd>
				</dl>
				<div class="themeDescription"></div>
			</div>
		</div>
	</div>
	<div class="theme-meta">
		<h2 class="theme-title">
			<f:link.action action="showThemeDetails" arguments="{theme:theme.extensionname}">
				{theme.title}
			</f:link.action>
		</h2>
		<div class="theme-install">
			<f:link.action action="showThemeDetails" arguments="{theme:theme.extensionname}" class="t3-button t3-button-action-installtheme btn btn-default btn-sm">
				<span class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-info">&nbsp;</span>
				Details
			</f:link.action>

			<themes:ThemeEnabledCondition theme="{theme.extensionname}">
				<f:then>
					<a href="#" onclick="return false" class=" btn btn-success btn-sm" style="cursor:not-allowed">
						Active
					</a>
				</f:then>
				<f:else>
					<f:link.action action="setTheme" arguments="{theme:theme.extensionname}" class="t3-button t3-button-action-installtheme btn btn-default btn-sm">
						<span class="t3-icon t3-icon-status t3-icon-status-dialog t3-icon-dialog-ok">&nbsp;</span>
						Activate
					</f:link.action>
				</f:else>
			</themes:ThemeEnabledCondition>
		</div>
	</div>
</div>