<li class="previewTheme {additionalClass}" data-theme="{theme.name}">
	<div class="previewImage bla" onclick="{onClick}">
		<f:image src="{theme.previewImage}"  alt="{screenshot.caption}" maxWidth="130" />
	</div>
	<div class="previewTitle">
		<b>{theme.title}</b>
	</div>
	<div class="previewOverlay">
		<span class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-select" onclick="{onClick}">&nbsp;</span>
		<span class="t3-icon t3-icon-actions t3-icon-actions-system t3-icon-system-extension-documentation">&nbsp;</span>
		<span class="t3-icon t3-icon-apps t3-icon-apps-clipboard t3-icon-clipboard-images">&nbsp;</span>
		<p>
			{theme.description}
		</p>
	</div>
</li>