<f:if condition="{f:count(subject: screenshots)}">


	<div class="panel panel-default">
		<div class="panel-heading">Screenshots ({f:count(subject: screenshots)})</div>
		<div class="panel-body">
	
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<f:for each="{screenshots}" as="screenshot" iteration="iteration">
						<li data-target="#carousel-example-generic" data-slide-to="{iteration.index}" class="{f:if(condition:iteration.isFirst, then:'active')}"></li>
					</f:for>
				</ol>
				<div class="carousel-inner">
					<f:for each="{screenshots}" as="screenshot" iteration="iteration">
						<div class="item {f:if(condition:iteration.isFirst, then:'active')}" data-interval="3000" data-pause="hover" title="{screenshot.caption}">
							<f:image src="{screenshot.file}"  alt="{screenshot.caption}" maxWidth="500" />
							<!--
							<div class="carousel-caption">
								<h3>{screenshot.caption}</h3>
							</div>
							-->
						</div>
					</f:for>
				</div>
				<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
			</div>
		</div>
	</div>
</f:if>