<f:layout name="Backend" />

<f:section name="Content">
	<f:if condition="{themeIsSelectable}">
		<f:then>
			<f:if condition="{selectedTheme}">
				<f:then>
					<f:render partial="Themes/ThemeSelected" arguments="{selectedTheme:selectedTheme, categories:categories, categoriesFilterSettings:categoriesFilterSettings, pid:pid, nearestPageWithTheme:nearestPageWithTheme}"/>
				</f:then>
				<f:else>
					<f:render partial="Errors/Error" arguments="{preparedMessage:'ErrorNoThemeSelected'}" />
					<f:render partial="Themes/ThemeNotSelected" arguments="{selectedTheme:selectedTheme, categories:categories, pid:pid, nearestPageWithTheme:nearestPageWithTheme}"/>
				</f:else>
			</f:if>
		</f:then>
		<f:else>
			<f:render partial="Errors/Error" arguments="{preparedMessage:'ErrorThemeNotPossible', redirectUid:nearestPageWithTheme}" />
		</f:else>
	</f:if>
</f:section>