<f:layout name="Backend" />

<f:section name="Buttons">
	<f:if condition="{themeIsSelectable}">
		<f:then>
			<span class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-save"><input type="image" name="_savedok" class="c-inputButton" src="clear.gif" title="Save document" id="saveIcon"></span>
			<f:link.action action="showTheme" pageUid="{nearestPageWithTheme}">
				<span class="t3-icon t3-icon-actions t3-icon-actions-page t3-icon-page-open">&nbsp;</span>
			</f:link.action>
		</f:then>
	</f:if>
</f:section>

<f:section name="Content">
	<f:if condition="{themeIsSelectable}">
		<f:then>
			<f:if condition="{selectedTheme}">
				<f:then>
					<f:render partial="Themes/ThemeSelected" arguments="{selectedTheme:selectedTheme, categories:categories, pid:pid, nearestPageWithTheme:nearestPageWithTheme}"/>
				</f:then>
				<f:else>
					<f:render partial="Errors/Error" arguments="{preparedMessage:'ErrorNoThemeSelected'}"></f:render>
					<f:render partial="Themes/ThemeNotSelected" arguments="{selectedTheme:selectedTheme, categories:categories, pid:pid, nearestPageWithTheme:nearestPageWithTheme}"/>
				</f:else>
			</f:if>
		</f:then>
		<f:else>
			<f:render partial="Errors/Error" arguments="{preparedMessage:'ErrorThemeNotPossible'}"></f:render>
		</f:else>
	</f:if>
</f:section>