<f:layout name="Backend" />

<f:section name="Buttons">
	<f:link.action action="index">
		<span class="t3-icon t3-icon-actions t3-icon-actions-view t3-icon-view-go-back">&nbsp;</span>
	</f:link.action>
</f:section>

<f:section name="Content">
	<link href="{f:uri.resource(path:'Stylesheet/ThemeSelector.css', extensionName:'themes')}" rel="stylesheet" />

	<f:form action="update" enctype="multipart/form-data">
		<f:comment>
			<f:form.hidden name="data[{formField.table}][{formField.row.uid}][tx_themes_skin]" value="{formField.row.tx_themes_skin}" id="tx_themes_skin"/>
		</f:comment>

		<div class="tx_themes_themeselector">

			<div class="theme-holder">
				<f:if condition="{selectedTheme}">
					<f:then>
						<f:render partial="Themes/ThemeSmallPreview" arguments="{theme:selectedTheme}"/>
					</f:then>
				</f:if>

				<f:for each="{selectableThemes}" as="theme" key="themeNumber">
					<f:if condition="{selectedTheme} == {theme}">
						<f:else>
							<f:link.action action="showThemeDetails" arguments="{theme:theme.extensionName}">
								<f:render partial="Themes/ThemeSmallPreview" arguments="{theme:theme}"/>
							</f:link.action>
						</f:else>
					</f:if>
				</f:for>
			</div>
		</div>
		<div style="clear:both;"></div>
	</f:form>
</f:section>