<f:be.container
		pageTitle="TYPO3-THEMES"
		includeCssFiles="{
			0: '../typo3conf/ext/themes/Resources/Public/Stylesheet/BackendModule.css'
			1: '../typo3conf/ext/themes/Resources/Public/Contrib/colorpicker/css/colorpicker.css'
		}"
		includeRequireJsModules="{
			0: 'TYPO3/CMS/Themes/Colorpicker',
			1: 'TYPO3/CMS/Themes/ThemesBackendModule'
		}"
		>
	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div class="typo3-docheader-functions">
				<div class="left">
					<f:if condition="{themeIsSelectable}">
						<f:then>
							<f:be.menus.actionMenu>
								<f:be.menus.actionMenuItem label="{f:translate(key:'setConstants')}" controller="Editor" action="index" />
								<f:be.menus.actionMenuItem label="{f:translate(key:'setTheme')}" controller="Editor" action="showTheme" />
							</f:be.menus.actionMenu>
						</f:then>
					</f:if>
				</div>
				<div class="right">
					<f:be.pagePath /><f:be.pageInfo />
				</div>
			</div>
			<div class="typo3-docheader-buttons">
				<f:render section="Buttons" optional="1" />
			</div>
		</div>
	</div>

	<div id="typo3-docbody">
		<div id="typo3-inner-docbody" class="typo3-themes-module">
			<f:render section="Content" />
		</div>
	</div>
</f:be.container>
