<f:be.container
		pageTitle="plimm"
		loadJQuery="1"
		includeCssFiles="{
			0: '../typo3conf/ext/themes/Resources/Public/Contrib/colorpicker/css/colorpicker.css',
			1: '../typo3conf/ext/themes/Resources/Public/Stylesheet/BackendModule.css'
		}"
		includeJsFiles="{
			0: '../typo3conf/ext/themes/Resources/Public/Contrib/colorpicker/js/colorpicker.js',
			1: '../typo3conf/ext/themes/Resources/Public/JavaScript/BackendModule.js',
			2: '../typo3conf/ext/themes/Resources/Public/Contrib/unSlider/unslider.min.js'
		}"
		>
	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div class="typo3-docheader-functions">
				<div class="left">
					<f:if condition="{themeIsSelectable}">
						<f:then>
							<f:be.menus.actionMenu>
								<f:be.menus.actionMenuItem label="{f:translate(key:'setConstants')}" controller="Editor" action="index" />
								<f:be.menus.actionMenuItem label="{f:translate(key:'setTheme')}" controller="Editor" action="showTheme" />
							</f:be.menus.actionMenu>
						</f:then>
					</f:if>
				</div>
				<div class="right">
					<f:be.pagePath /><f:be.pageInfo />
				</div>
			</div>
			<div class="typo3-docheader-buttons">
				<f:if condition="{themeIsSelectable}">
					<f:then>
						<f:render section="Buttons" optional="1" />
					</f:then>
				</f:if>
			</div>
		</div>
	</div>

	<div id="typo3-docbody">
		<div id="typo3-inner-docbody">
			<f:render section="Content" />
		</div>
	</div>
</f:be.container>
