.showOnDefault {
	display: none;
}
.hideOnDefault {
	display: inline-block;
	width: 90%;
}

.hideOnDefault input[type=text] {
	width: 80%;
}

.defaultValueIsSelected .showOnDefault {
	display: inline-block;
}
.defaultValueIsSelected .hideOnDefault {
	display: none;
}
.hidden {
	display: none;
}
tr.constantLine {
	height: 40px;
}

.colorpicker {
	z-index: 99999;
}