/* Screenshots carousel */
.typo3-themes-module .carousel {
	border: 1px solid #ccc;
}
.typo3-themes-module .carousel .item {
	text-align: center;
}
.typo3-themes-module .carousel .item img {
	display: inline-block;
}
.typo3-themes-module ol.carousel-indicators li {
	border: 1px solid #ccc;
}
.typo3-themes-module ol.carousel-indicators li {
	border: 1px solid #ccc;
	background-color: rgba(0, 0, 0, 0.3);
}
.typo3-themes-module ol.carousel-indicators li.active {
	border: 1px solid #999;
	background-color: rgba(0, 0, 0, 0.5);
}

.typo3-themes-module .showOnDefault {
	display: none;
}
.typo3-themes-module .hideOnDefault {
	display: inline-block;
}

/* Edit toggle button and field */
.typo3-themes-module .showOnDefault img,
.typo3-themes-module .hideOnDefault img {
	cursor: pointer;
}
.typo3-themes-module .defaultValueIsSelected .showOnDefault {
	display: inline-block;
}
.typo3-themes-module .defaultValueIsSelected .hideOnDefault {
	display: none;
}

/* Categories filter styles */
#categoriesFilter label {
	padding-right: 10px;
	padding-left: 10px;
}

.typo3-themes-module section.constants-group thead td {
	font-weight: bold;
}
.typo3-themes-module section.constants-group td.title {
	width: 30%;
}
.typo3-themes-module section.constants-group td.title label {
	font-weight: normal;
}
.typo3-themes-module section.constants-group td.editToggle,
.typo3-themes-module section.constants-group td.editToggle .showOnDefault,
.typo3-themes-module section.constants-group td.editToggle .hideOnDefault {
	width: 30px;
	padding-left: 8px;
}
.typo3-themes-module section.constants-group td.value {
	width: auto;
}
.typo3-themes-module section.constants-group td.value .hideOnDefault {
	width: 100%;
}
.typo3-themes-module section.constants-group td.value .hideOnDefault input[type=text] {
	width: 99%;
}
.typo3-themes-module section.constants-group td.value .showOnDefault div.field_default,
.typo3-themes-module section.constants-group td.value .hideOnDefault input[type="text"].colorselector,
.typo3-themes-module section.constants-group td.value .showOnDefault .typo3-tstemplate-ceditor-colorblock,
.typo3-themes-module section.constants-group td.value .hideOnDefault .typo3-tstemplate-ceditor-colorblock {
	width: 100px;
	display: inline-block;
	height: 19px;
}
.typo3-themes-module section.constants-group td.value .showOnDefault div.field_default {
	border: 1px solid #ccc;
	color: #333;
}

/**
 * @todo: Prefix all css selectors
 */

tr.constantLine {
	height: 40px;
}

/* Colorpicker styles */
.colorpicker {
	z-index: 99999;
}
.colorpicker input {
	height: 15px !important;
	color: #fff !important;
}



.theme-clearfix:before,
.theme-clearfix:after {
	content: " ";
	display: table;
}
.theme-clearfix:after {
	clear: both;
}
.theme-detail-header h1 {
	margin-bottom: 0.5em;
}
.theme-detail-info-preview {
	float: right;
	padding-left: 20px;
	margin-bottom: 1em;
}
.theme-detail-info-preview img {
	display: block;
}
.theme-detail-summary {
	margin-top: 2.5em;
	margin-bottom: 2.5em;
}
.theme-detail-summary dt {
	font-weight: bold;
	float: left;
	width: 100px;
	clear: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.theme-detail-summary dd {
	margin-left: 110px;
	margin-bottom: 0.25em;
}

.theme-tag {
	padding: 2px 6px;
	background-color: gray;
	border: 0 solid;
	font-weight: normal;
	color: white;
	margin: 4px;
	border-radius: 4px;
	display: block;
	font-size: 10px;
	float: left;
}

.theme-categorie {
}

.theme-activated {
	background-color: green;
	border: 1px solid green;
	color: white;
}
.carousel-inner .item {
	height: 270px;
}
.carousel-control.left, .carousel-control.right{
	background-image: none;
}

.table-list {
	margin-top: 0;
}


/*****************************************************************************/

.theme {
	border: 1px solid #d4d4d4;
	background-color: #fafafa;
	margin-bottom: 20px;
	margin-left: 20px;
	width: 300px;
	float: left
}

.theme:hover {
	background-color: #f2f2f2
}

.theme:hover .theme-hover {
	top: 0;
	opacity: 1
}

.theme:hover .theme-more {
	text-decoration: underline
}

.theme-holder {
	top: 0;
	bottom: 0;
	margin-left: -20px
}

.theme-holder:before,.theme-holder:after {
	content: " ";
	display: table
}

.theme-holder:after {
	clear: both
}

.theme-image {
	position: relative;
	width: 300px;
	height: 225px;
	overflow: hidden
}

.theme-image img {
	display: block;
	width: 100%
}

.theme-hover {
	background-color: #fafafa;
	position: absolute;
	top: 100%;
	left: 0;
	width: 300px;
	height: 225px;
	overflow: hidden;
	opacity: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out
}

.theme-hover-inner {
	padding: 15px
}

.theme-meta {
	border-top: 1px solid #e0e0e0;
	padding: 15px
}

.theme-meta .theme-title {
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 14px
}

.theme-meta .theme-install {
	height: 25px;
	margin-top: 0.5em
}

.theme-meta .t3-button {
	margin: 0;
	padding-right: 8px
}

.theme-meta .theme-official {
	border: 1px solid #ff8600;
	background-color: #ff8600;
	border-radius: 2px;
	display: inline-block;
	padding: 3px 8px;
	vertical-align: middle;
	color: #FFFFFF
}

.theme-detail-flashmessage {
	margin-bottom: 2.5em
}

.theme-detail-flashmessage p {
	padding-bottom: 0
}

.theme-detail {
	min-width: 750px
}

.theme-detail:before,.theme-detail:after {
	content: " ";
	display: table
}

.theme-detail:after {
	clear: both
}

.theme-detail-previewpane {
	float: left;
	margin-right: 30px
}

.theme-detail-preview {
	display: block;
	border: 1px solid #d4d4d4
}

.theme-detail-body {
	overflow: hidden;
	zoom: 1
}

.theme-detail-header {
	margin-bottom: 2.5em
}

.theme-detail-header h1 {
	margin-bottom: 0.5em
}

.theme-detail-header p {
	padding: 0;
	max-width: 500px;
	margin-bottom: 1.25em
}

.theme-detail-summary {
	margin-top: 2.5em;
	margin-bottom: 2.5em
}

.theme-installed hr {
	margin: 2.5em 0;
	border: 0;
	border-top: 1px solid #d4d4d4
}
